:root {
    --bg-color: #001F33;
    --form-color: #012f4e;
    --text-color: #e0e0e0;
    --primary-color: #FFB81B;
    --secondary-color: #00bfff;
    --third-color:#ffc64a;
    --border-color: #444;
    --input-bg: #222;
    --input-border: #666;
    --table-header-bg: #1e90ff;
    --table-header-text: #fff;
    --table-row-bg: #01263f;
}

.main-nav {
    display: flex;
    justify-content: center; /* Centre le contenu du menu */
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

/* Container for navigation items */
.nav-container {
    display: flex;
    width: 100%;
}


nav{
    justify-content: center;
    /* padding: 10px 0;  */
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 100%;
    display: flex;

}

/* .main-nav {
    background-color: #262626;
} */

nav a {
    color: var(--bg-color);
    padding: 10px 20px;
    text-decoration: none;
    background-color: var(--primary-color);
    margin-left: 10px;
}

nav a:hover {
    background-color: var(--third-color);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 900px;
    padding: 30px;
    background: #001F33;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    /* overflow: hidden; */
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: var(--primary-color);
}

button, input[type="submit"] {
    background: var(--primary-color);
    color: var(--bg-color);;
    border: none;
    padding: 14px 24px;
    margin: 15px 0;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease-in-out;
    display: block;
    width: 100%;
}

button:hover, input[type="submit"]:hover {
    background: var(--third-color);
}

form {
    background: var(--form-color);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    flex: 1;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    width: 100%;
}

input, select, textarea {
    padding: 12px;
    margin: 10px 0;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    background: var(--input-bg);
    color: var(--text-color);
}

input:focus, select:focus, textarea:focus {
    border-color: var(--primary-color);
    outline: none;
}

.table-container {
    flex: 1;
    overflow-y: auto;
    width: 100%;
    position: relative;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    height: 100%;
}

thead {
    background: var(--table-header-bg);
    color: var(--table-header-text);
}

th, td {
    padding: 14px;
    text-align: left;
    border-bottom: 1px solid var(--border-color);
}

tbody tr:nth-child(even) {
    background: var(--table-row-bg);
}

.device {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
    padding: 5px 0; 
}

.device label {
    flex-grow: 1; 
    margin-right: 10px;
    white-space: normal;
}

.question{
    text-align: center;
    padding-bottom: 20px;
}

.container_device {
    height: 70vh;
    overflow-y: auto;
    padding: 20px;
    background: var(--form-color);
    box-sizing: border-box;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    width: 100%;
}

.left-column, .right-column {
    width: 48%;
    background: #2a2a2a;
    padding: 20px;
    border-radius: 8px;
}

.bottom-section {
    text-align: center;
    margin-top: 20px;
}

.box {
    width: 48%;
    background: #2a2a2a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
    min-height: 300px;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

.input-group label {
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
}

.left-column p {
    width: 100%;
    max-width: 400px; 
    text-align: center;
    margin-bottom: 15px;
}

@media (max-width: 600px) {
    .container {
        padding: 20px;
    }
    button, input[type="submit"] {
        width: 100%;
    }
}