<!DOCTYPE html>
{% include "head.html" %}
<body>
    {% include "menu.html" %}
    <div class="table-container">
    <form action="/add_duration/" method="post">
        <table>
            <thead>
                <tr>
                    <th>Appareils</th>
                    <th>Durée min</th>
                    <th>Durée Max</th>
                </tr>
            </thead>
            <tbody>
                                 
                    {% for appareil in devices %}
                    <tr>   
                        <td>{{ appareil.nom }}</td>
                        <td><input type="number" name="duration_min_{{ appareil.id }}" step="0.1" min="0" max="1440" value="0"></td>
                        <td><input type="number" name="duration_max_{{ appareil.id }}" step="0.1" min="0" max="1440" value="0"></td>
                    </tr>
                    {% endfor %}                            
                
            </tbody>
        </table>
        <button type="submit">Enregistrer</button>
    </div>
</body>

</html>