<!DOCTYPE html>
{% include "head.html" %}

<body>
    <nav class="main-nav">
        <a href="/add_device_list" class="menu-button">Ajouter un appareil à la liste</a>
        <!-- <a href="/add_duration" class="menu-button">Ajouter une durée d'utilisation</a> -->
        <a href="/add_devices" class="menu-button">Ajouter un appareil à l'utilisateur</a>
        
        <!-- <a href="/show_matrix" class="menu-button">Voir la matrice de proba</a>
        <a href="/gen_consumption" class="menu-button">Générer le fichier de consommation</a> -->
    </nav>
    <div class="table-container">
        <form action="/add_duration/" method="post">
            <table>
                <thead>
                    <tr>
                        <th>Appareils</th>
                        <th>Durée min</th>
                        <th>Durée Max</th>
                    </tr>
                </thead>
                <tbody>

                    {% for appareil in devices %}
                    <tr>
                        <td>{{ appareil.nom }}</td>
                        <td><input type="number" name="duration_min_{{ appareil.id }}" step="0.1" min="0" max="1440"
                                value="0"></td>
                        <td><input type="number" name="duration_max_{{ appareil.id }}" step="0.1" min="0" max="1440"
                                value="0"></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            <button type="submit">Enregistrer</button>
    </div>
</body>

</html>