<!DOCTYPE html>
{% include "head.html" %}
<body>
    <nav class="main-nav">
        <a href="/add_device_list" class="menu-button">Ajouter un appareil à la liste</a>
        <a href="/add_devices" class="menu-button">Ajouter un appareil à l'utilisateur</a>
        <a href="/add_duration" class="menu-button">Ajouter une durée d'utilisation</a>
        <!-- 
        <a href="/show_matrix" class="menu-button">Voir la matrice de proba</a>
        <a href="/gen_consumption" class="menu-button">Générer le fichier de consommation</a> -->
    </nav>
    <div class="table-container">
<h1>Matrice de probabilité de mise en service</h1>
<form method="post" action="/gen_consumption/">
    <table>
        <thead>
            <tr>
                <th>Plage Horaire</th>
                {% for appareil in devices %}
                    <th>{{ appareil.nom }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in probabilites %}
                {% for plage_horaire, proba in item.items() %}
                    <tr>
                        <td>{{ plage_horaire }}</td>
                        {% for appareil in devices %}
                            <td>
                                <input type="number" name="proba_{{ plage_horaire }}_{{ appareil.id }}" step="0.001" min="0" max="1" value="{{ proba[loop.index - 1] }}">
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    <button type="submit">Enregistrer</button>
</form>
</div>
</body>
</html>