<nav class="main-nav">
    <div class="nav-container">
        <div class="nav-left">
            <a href="/" class="menu-button">Accueil</a>
            <a href="/add_duration" class="menu-button">Ajouter une durée d'utilisation</a>
            <a href="/add_devices" class="menu-button">Ajouter un appareil à l'utilisateur</a>
            <a href="/add_device_list" class="menu-button">Ajouter un appareil à la liste</a>
            <a href="/show_matrix" class="menu-button">Voir la matrice de proba</a>
            <a href="/gen_consumption" class="menu-button">Générer le fichier de consommation</a>
        </div>

        <div class="nav-right">
            <div class="theme-switch-wrapper">
                <label class="theme-switch">
                    <input type="checkbox" id="theme-toggle">
                    <span class="slider"></span>
                </label>
                <span class="label-text" id="theme-label"></span>
            </div>
        </div>
    </div>
    
    <script type="text/javascript" src="../static/switch_mode.js"></script>
</nav>
