<!DOCTYPE html>
{% include "head.html" %}
<body>
    {% include "menu.html" %}
    <div class="table-container">
    <h1>Ajouter un appareil à la liste des appareils de l'utilisateur</h1>
    <div class="question"> 
        <p><strong>Quels appareils de la liste suivante avez vous ?</strong></p>
    </div>
    <form action="/save-devices" method="post">
        <div class = "container_device">
            {% for device in devices %}
            <div class="device">
                <label for="device_{{ device.id }}">{{ device.nom }}</label>
                <input type="checkbox" id="device_{{ device.id }}" name="selected_devices" value="{{ device.id }}">
            </div>
            {% endfor %}
        </div>
        <input type="submit" value="Enregistrer">
    </form>
    </div>
</body>

</html>