<!DOCTYPE html>
{% include "head.html" %}
<body>
    <nav class="main-nav">
        <a href="/add_device_list" class="menu-button">Ajouter un appareil à la liste</a>
        <!-- <a href="/add_duration" class="menu-button">Ajouter une durée d'utilisation</a> -->
        <!-- <a href="/add_devices" class="menu-button">Ajouter un appareil à l'utilisateur</a> -->
        
        <!-- <a href="/show_matrix" class="menu-button">Voir la matrice de proba</a>
        <a href="/gen_consumption" class="menu-button">Générer le fichier de consommation</a> -->
    </nav>
    <div class="table-container">
    <h1>Ajouter un appareil à la liste des appareils de l'utilisateur</h1>
    <div class="question"> 
        <p><strong>Quels appareils de la liste suivante avez vous ?</strong></p>
    </div>
    <form action="/save-devices" method="post">
        <div class = "container_device">
            {% for device in devices %}
            <div class="device">
                <label for="device_{{ device.id }}">{{ device.nom }}</label>
                <input type="checkbox" id="device_{{ device.id }}" name="selected_devices" value="{{ device.id }}">
            </div>
            {% endfor %}
        </div>
        <input type="submit" value="Enregistrer">
    </form>
    </div>
</body>

</html>