<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Gestion des devices</title>
</head>
<body>
    <h1>Ajouter une habitude de sommeil</h1>
    <p>Durant cette période, un ensemble d'équipements ne seront pas utilisés.</p>
    
    <form action="/enregistrer_probabilites/" method="post">
        <p>Quelles sont vos habitudes de sommeil ?</p>
        <label for="bedtime">Heure de coucher</label>
        <input type="time" id="bedtime" name="bedtime">
        <br>
        <label for="getuptime">Heure de lever</label>
        <input type="time" id="getuptime" name="getuptime">
        <br>

        <p>Sur quelles plages horaires êtes-vous à la maison aujourd'hui ?</p>
        <button id="toggleInputs">Ajouter une plage horaire</button>
        
        <div id="homeInputsContainer">
            <div class="homeInputs">
                <label for="home_start_1">Début</label>
                <input type="time" id="home_start_1" name="home_start[]">
                <label for="home_end_1">Fin</label>
                <input type="time" id="home_end_1" name="home_end[]">
            </div>
        </div>

        <input type="submit" value="Enregistrer">
    </form>
    <script>
        document.getElementById("toggleInputs").addEventListener("click", function () {
            const container = document.getElementById("homeInputsContainer");
            const count = container.getElementsByClassName("homeInputs").length + 1;
    
            // Créer un nouvel élément div contenant les nouveaux inputs
            const newInputs = document.createElement("div");
            newInputs.classList.add("homeInputs");
            newInputs.innerHTML = `
                <label for="home_start_${count}">Début</label>
                <input type="time" id="home_start_${count}" name="home_start[]">
                <label for="home_end_${count}">Fin</label>
                <input type="time" id="home_end_${count}" name="home_end[]">
            `;
    
            // Ajouter les nouveaux inputs au conteneur
            container.appendChild(newInputs);
        });
    </script>
</body>
</html>
